# KREDENSIAL SUPABASE PROYEK LAMA (UNTUK LOGIN / AUTH)
VITE_SUPABASE_URL_AUTH=
VITE_SUPABASE_ANON_KEY_AUTH=

# KREDENSIAL SUPABASE PROYEK BARU (UNTUK DATA ANOMALI)
VITE_SUPABASE_URL_DATA=
VITE_SUPABASE_ANON_KEY_DATA=